<!DOCTYPE html>
<html>
    <head>
        <title>Pagina no encontrada template 404</title>
    </head>
    <body>
        <h1>template de 404</h1>
        <h3> Pruebas Filter </h3>
        {{ list1|add:list2 }} <br>
        <h2>{{ presentacion|addslashes }}</h2>
        <h2>{{ curso|capfirst }}</h2>
        <pre>{{ curso|center:"30" }}</pre> <!--Como los espacios repetidos no son reconocidos en varios tags utilizaremos 'pre'-->
        <h2>{{ curso|cut:"gra" }}</h2>
        {{ fecha|date:"l j" }} es el dia {{ fecha|date:'z' }} del año<br>
        {{ fecha|date:"W S" }} semana, en el mes {{ fecha|date:'F' }} 
        de forma abreviada {{ fecha|date:'M'}} es el mes numero {{ fecha|date:'n'}}<br>
        Este año {{ fecha|date:"Y" }}
        {% if fecha|date:'L' %}
        NO
        {% endif %}
         es bisiesto <br>
        
    </body>
</html>