{% extends 'sugerencia.html'%}
{% block content %}
    <h1>Usted no tiene acceso</h1>
    {{ request.method }}<br>
    {{ request.headers.user_agent }}<br>
    {{ request.get_full_path }}<br>
    <ul>
        {% for item in list %}
            <li>({{ forloop.counter0 }}, <!--cuenta desde el 0-->
                 {{ forloop.revcounter0 }}, <!--se cuenta desde el final hasta 0 en este caso-->
                 {{ forloop.first }}, <!-- true si es el primero-->
                 {{ forloop.last }}) <!-- true si es el ultimo -->
                  - {{ item }} 
            {% if item < 9 %}
                - Este numero tiene un digito
            {% elif item > 10 %}
                - Este numero tiene dos digitos
            {% endif %}
            </li>
        {% endfor %}
    </ul>
    <h3>Variables en el tag if</h3>
    <p>
        1. Lista "listFilled"
        {% if listFilled %}
            - La lista esta llena
        {% else %}
            - No hay elementos en la lista
        {% endif %}<br>
        2. Lista "listVoid"
        {% if listVoid %}
            - La lista esta llena
        {% else %}
            - No hay elementos en la lista
        {% endif %}<br>
    </p>
    <h3>Operadores en el tag if</h3>
    <p>
        LISTAS: {{ listFilled }} - {{ listVoid }}<br>
        {% if listFilled and  not listVoid %}
            - listFilled tiene elementos y listVoid no los tiene
        {% else %}
            - Ambas listas tienen elementos o el primero no los tiene 
        {% endif %}<br>
        LISTAS: {{ listFilled }} - {{ listVoid }}
        <br>
        {% if listFilled or listVoid %}
            - Uno de las listas, listFilled, listVoid o ambos tienen elementos
        {% else %}
            - En definitiva ninguno tiene elemetos
        {% endif %}<br>
    </p>
    <h3>Operadores de comparacion en el tag if</h3>
    <ul>
        En la lista list de numeros
        {% for item in list %}
            <li>{{ item }} -
            {% if item == 13 %}
                - Este numero tiene muy mala fama
            {% elif item != 2 and item <= 9  %}
                - No eres un 2 y tampoco tienes dos cifras
            {% elif item > 50 %}
                - Felicidades entre el 1 al 100 eres de los primos mayores a 50
            {% else %}
                - No tienes algo especial o sí
            {% endif %}
            </li>
        {% endfor %}
    </ul>
    <h3>Operadores IN, NOT IN, IS e IS NOT en el tag if</h3>
    <p>
        IN, NOT IN en strings: <br>
        {% if "gmail" not in "correo@unsa.edu.pe" %}
            El string "correo@unsa.edu.pe" NO contiene "gmail"
        {% endif %}<br>
        LISTA: {{ listFilled }} <br>
        {% if "futbol" in listFilled %}
            La lista listFilled contiene el string "futbol"
        {% endif %}
        <br>
        IS, IS NOT en valores: <br>
        {% if  valorCualquiera is None %}
            - Si el valor no esta en el contexto
        {% endif %}<br>
        {% if  listVoid is not True %}
            - Independiente de la declaracion es verdadera
        {% endif %}<br>
    </p>

{% endblock %}