{% extends 'base.html' %}
{% block content %}
<form method='POST'>{% csrf_token %}
    <h3>Parrafo:</h3>
    {{ form.as_p }}<!-- al editar los atributos para que no tenga el required,
         el servidor envia una lista de error, demostrando la seguridad de Django -->
    <!--<h3>Lista:</h3>
    {{ form.as_ul }}
    <h3>Tabla:</h3>
    {{ form.as_table }}-->
    <!-- al tratar de cambiar el tipo de input, Django tambien envia un lista de error pidiendo el valor correcto-->
    <input type="submit" value="Grabar"/>
</form>
{% endblock %}